body{
  text-align:center;
  font-size: 20px;
}
h1{font-family: sans-serif;
}
p{font-family: cursive;}
.cloudy{
  position: absolute;
  top: 300px;
  left: 100px;
}
.mountain{
  position: absolute;
  top: 200px;
  right: 100px;
}
.top{
  position: relative;
  top: 20px;
  left: 0;
}
hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
border-color: black;
border-width: 5px;
  width: 80%;
}

h2{
  color: #774360;
}
h3{
  color: #16003B;
}
p{
  color: #541212;
}
ul{
  color: #5C3D2E;
  font-family: monospace;
}
table{
  color: black;
}
form{
  color: #FAC213;
}
OL{
  color: #310B0B;
}
.header{
  background-color: #EEB76B;
}
.bottom{
  background-color: #A0C1B8;
}
.sch{
  text-align: center;
}
li{
  font-family: cursive;
}
.con{
  background-color: #247881;
}
